.signUpEmail {
  padding-bottom: 0 !important;
}

.labelEmail {
  flex-grow: 2;
}

.checkEmailBtn {
  flex-grow: 1;
  font-size: 0.66rem;
  padding: 0px 0px !important;
  margin-bottom: 6px;
}

.alertSignUp {
  font-size: 0.88rem;
  margin-top: 10px;
  margin-bottom: 0 !important;
  padding: 5px 0px 5px 10px !important;
}

.maleBtn,
.femaleBtn {
  display: inline-block !important;
  padding-left: 3.25rem !important;
}
